
@font-face {
  font-family: 'Supreme-Regular';
  src: url('https://raw.githubusercontent.com/dummilew/supreme-fonts/main/supreme/Supreme-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Přidej další řezy dle potřeby, např.: Supreme-Bold, Supreme-Light atd. */

body {
  font-family: 'Supreme-Regular', sans-serif;
}
